<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" [(ngModel)]="contact.name" name="name"></ion-input>
  </ion-item>
  <ion-button (click)="GuardarContacto()">Create Contact</ion-button>
</ion-content>
