<ion-header>
  <ion-toolbar>
    <ion-title>
      Practica 1- SoftwareAvanzado
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  

  <ion-item lines="full" class="p" *ngFor="let contact of contacts">
    <ion-label>{{contact.name}}</ion-label>
  </ion-item>

  <ion-button (click)="ionViewDidLoad()">Load Contact</ion-button>
  <ion-button  [routerLink]="['/', 'contacto']" >Crete Contact</ion-button>

</ion-content>


